<include('../../layouts/default.marko')>
  <@tdk>
    <app-tdk(input && input.tdk)/>
  </@tdk>
  <@styles>
    <app-styles(input)/>
  </@styles>
  <@scripts>
    <app-scripts(input)/>
  </@scripts>
  <@body>
    <app-nav(input.user)/>
    <div class="container">
      <div class="col-md-12 markdown">$!{input.readme}</div>
    </div>
    <app-footer/>
  </@body>
</include>
