<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button key="btn1" class="btn btn-primary">Button-1</button>
      <span style="color:red">《---- the id attribute is missing</span>
    </div>
    <div class="col-md-12">
      <h2>
        1. Test modal dialog <small>Test open modal dialog</small>
      </h2>
      <button class="btn btn-default" on-click('openDialog')>
        Open Dialog Example
      </button>
    </div>
  </div>
</div>
