<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- the key attr on app-container is  -->
      <app-container key="container">
        <button key="btn" onClick('btnClick') class="btn btn-success">
          Try to click this button, then view the output in console
        </button>
      </app-container>
      <app-other key="other"/>
    </div>
  </div>
</div>
