.foo {
  color: red;
  font-size: 16px;

  .test {
    color: red;
    background: url('../../images/img2.jpg');
    width: 600px;
    height: 600px;
  }
}

:fullscreen a {
  display: flex;
  color: #EF4836;
}
