<include('../../layouts/default.marko')>
  <@title>About page</@title>
  <@styles>
    <if(input && input.assets && input.assets.css)>
      <link rel="stylesheet" href="${input.assets.css}"/>
    </if>
  </@styles>
  <@scripts>
    <if(input && input.assets && input.assets.js)>
      <script src="${input.assets.js}"/>
    </if>
  </@scripts>
  <@body>
    <app-nav(input.user)/>
    <app-main(input)/>
    <app-footer/>
  </@body>
</include>
