<include('../../layouts/default.marko')>
  <@tdk>
    <app-tdk(input && input.tdk)/>
  </@tdk>
  <@styles>
    <app-styles(input)/>
  </@styles>
  <@scripts>
    <app-scripts(input)/>
  </@scripts>
  <@body>
    <app-nav(input.user)/>
    <app-main(input)/>
    <app-footer/>
  </@body>
</include>
