<if(input && input.title)>
  <title>${input.title}</title>
</if>
<if(input && input.description)>
  <meta name="description" content=input.description/>
</if>
<if(input && input.keywords)>
  <meta name="keywords" content=input.keywords/>
</if>
