<if(input && input.common && input.common.css)>
  <link rel="stylesheet" href="${input.common.css}"/>
</if>
<if(input && input.assets && input.assets.css)>
  <link rel="stylesheet" href="${input.assets.css}"/>
</if>
