<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Marko + Webpack2</title>
    <link rel="stylesheet" href="${input.assets.css}">
  </head>
  <body>
    <div>template:${input.initCount}</div>
    <app(input)/>
    <script src="${input.assets.js}"></script>
  </body>
</html>
